<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"  href="../css/style.css">
  
    <title>Calculator</title>
</head>
<body>
    <div class="main-container">
            <header>
                    Simple Math Calculator 
                </header>
                <div  class="main-calculator">
                   <div id="screen" >
                 
                   </div>
                 <div class="keys">
                     
                        <ul>
                            <li > <button>7</button></li>
                            <li ><button>4</button></li>
                            <li ><button>1</button></li>
                            <li ><button>0</button></li>
                        </ul>

                      
                            <ul>
                                <li ><button>8</button></li>
                                <li ><button>5</button></li>
                                <li ><button >2</button></li>
                                <li ><button>.</button></li>
                            </ul>

    
                       


                        
                                <ul>
                                    <li ><button>9</button></li>
                                    <li ><button>6</button></li>
                                    <li ><button>3</button></li>
                                    <li ><button data-action="percentage">%</button></li>
                                </ul>
            
              
                        <ul>
                            <li ><button class="key--operator" data-action="toggle">+/- </button></li>
                            <li ><button class="key--operator" data-action="multiply">x</button></li>
                            <li ><button class="key--operator" data-action="subtract">-</button></li>
                            <li ><button class="key--operator" data-action="add">+</button></li>
                        </ul>
             

              
                        <ul>
                            <li><button class="key--operator" data-action="divide">/</button></li>
                            <li ><button>(</button></li>
                            <li ><button  class="key--operator"data-action="square">sq</button></li>
                            <li ><button class="key--operator" data-action="modulus">mod</button></li>
                        </ul>

                        <ul>
                            <li ><button data-action="clear">clr</button></li>
                            <li ><button>)</button></li>
                            <li ><button data-action="square-root">sqrt</button> </li>
                            <li ><button data-action="calculate">=</button></li>
                        </ul>
                    </div>
 


    
</body>
<script src="/js/control.js"></script>
</html>